.vscode/**
.vscode-test/**
.serena/**
issues.md
src/**
node_modules/**
.gitignore
.eslintrc.json
tsconfig.json
**/*.map
*.map
out/**/*.map
/out/**/*.map
**/*.ts
out/**
!out/extension.js
images/.gitkeep
.github/**
out/test
out/test/**
out/test/**/*
/out/test
/out/test/**
